<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%  static "styles.css" %}">
</head>
<body>
        <form id="login_form" method="post" action="/myapplication/login/">
            <h1>Login: </h1>
            <!-- {% csrf_token %} -->
            <label for="id_username">Username:</label><input id="id_username" class="form-control" type="text" name="username" value="" size="50" />
            <br />
            <label for="id_password">Password:</label><input id="id_password" class="form-control" type="password" name="password" value="" size="50" />
            <br />

            <input class="btn btn-default" type="submit" value="submit" />
        </form>
</body>
</html>